<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Table Here</h1>
    <table>
        <th>
            <td>Name</td>
            <td>Marks</td>
        </th>

        <tr>
            <td>Safaid</td>
            <td>84</td>
        </tr>
        <tr>
            <td>Sameer</td>
            <td>89</td>
        </tr>

    </table>
</body>
</html>